$visual-grid: true !global;
$visual-grid-index: front !global;
$visual-grid-opacity: 0.2 !global;

@import "wordpress";
@import "reset";
@import "bourbon/bourbon";
@import "base";
@import "neat/neat";

@import "animate";
@import "utilities";

@import "layout";

@import "main";